asgiref==3.7.2
atpublic==4.0
bangla==0.0.2
distlib==0.3.8
Django==5.0.2
django-cors-headers==4.3.1
djangorestframework==3.14.0
env==0.1.0
environment==1.0.0
filelock==3.13.1
pillow==10.2.0
platformdirs==4.2.0
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
tzdata==2024.1
virtualenv==20.25.1
world==5.1.1
